<form action="/prehistoric_creatures" method="POST">
  <label for="creatureName">Type:</label>
  <input type="text" name="type" id="creatureName" />

  <label for="creatureImg">Image:</label>
  <input type="text" name="img_url" id="creatureImg" />

  <button type="submit">Add a Prehistoric Creature!</button>
</form>
